{% extends "base.html" %}
{% block page_content %}
<div class="main-part">
    <div class="cart-page-title">CART</div>
    <div class="select-currency">
        <select>
            <option value="1">Euro</option>
            <option value="2">Dollar</option>
        </select>
    </div>

    <div class="cart-table">
        <div class="cart-table__elements">

        </div>
        <div class="cart__total-order">
            <div class="cart__total-order-title">Total</div>
            <div class="cart__total-order-price">
                <span class="price">200</span>
                <span class="currency">$</span>
            </div>
        </div>
        <div class="cart__order-button">
            <button id="cart-order" class="button">Order</button>
        </div>
    </div>

    <div class="form">
            <form class="form-container form-cart" method="POST">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    <div class="form-elem">
                        <label for="{{ f.id_for_label }}">{{f.label}}: </label>
                        {{ f }}
                    </div>
                {% endfor %}
                <button class="button button-save" type="submit">save </button>
            </form>
    </div>

</div>


<div class="bottom"></div>
    {% endblock %}