{% extends "base.html" %}
{% block page_content %}
<div class="main-part">
    <div class="home-page-title">
        My orders
    </div>
    <div class="home-table">
        {% if orders %}
        {% for order in orders %}
        <div class="home-table__elem">
            <div class="elem-container">
                <div class="home-elem-date">
                    {{order.order.date}}
                </div>

                <div class="home-elem__address">
                    {{order.order.street}} {{order.order.house}} {{order.order.apartment}}
                </div>
                <hr>
                <ul class="home-elements">
                    {% for pizza in order.pizzas %}
                    <li class="home-elem__order" id="{{pizza.id}}">
                        <div class="home-elem__img">
                            <img class="img" src="{{pizza.image.url}}" alt="пицца">
                        </div>

                        <div class="home-elem__order-name">
                            {{pizza.name}}
                        </div>
                        <div class="amount-order">
                            <span class="amount-order__elem"> {{pizza.quantity}} шт</span>
                        </div>
                        <div class="cart-elem__price money">
                            {{pizza.price}}$
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <hr>
                <div class="home-elem__total-order">
                    <div class="home-elem__total-order-title">Total</div>
                    <div class="home-elem__total-order-price money">{{order.order.total}}$ <span class="currency"></span></div>
                </div>

                <div class="home-elem__bottom">
                    <button class="button button_oval order-again">order again</button>
                </div>

            </div>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}
    </div>

</div>
{% endblock %}
