{% extends "base.html" %}
{% block back %} {% endblock %}
{% block page_content %}
<div class="page-main">
    <div class="promo">
        <div >
            <img class="promo__image" src="/media/main_page_img/Sandwich.png">
        </div>
        <div class="promo__text">
            <div class="promo__text time">
                SALE 18:00 - 21:00
            </div>
            <div class="promo__text percent">
                50%
            </div>
            <div class="promo__text condition">
                for the second pizza
            </div>
        </div>
    </div>
    <div class="special-offer">
        <div class="special-offer__text">
            <div class="percent">2X1</div>
            <div class="type">PEPPERONI</div>
        </div>
        <img class="special-offer__image" src="/media/main_page_img/special.png">
    </div>
    <div class="delivery">
        <img class="delivery__image" src="/media/main_page_img/delivery.png">
        <div class="delivery__text">
            <div class="service-name">
                <div>DELIVERY</div>
                <div>SERVICE</div>
            </div>
            <div class="service-time">
                <div>EVERYDAY</div>
                <DIV>12:00 - 23:00</DIV>
                <DIV>FREE DELIVERY</DIV>
            </div>
        </div>
    </div>
</div>
{% endblock %}
