{% extends "base.html" %}
{% block page_content %}
<h1 class="page-title">Sign Up</h1>


    <div class="form">
            <form class="form-container" method="POST" action="{% url 'registration' %}">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-error">{{ f.errors }}</div>
                    <div class="form-elem">
                        <label for="{{ f.id_for_label }}">{{f.label}}: </label>
                        {{ f }}
                    </div>
                {% endfor %}
                <button class="button" type="submit"> sign up </button>
            </form>
    </div>

{% endblock %}