////////домашняя страница///////////////
.home-page-title{
  @extend %title;
}
.home-table{
  @extend %table;
  margin-bottom: 20px;
}
.home-table__elem{
  //@extend %table__order;
  @extend %border;
}
.home-elem__date{
  @extend %text;
  padding: 0px 0px 5px 0px;
}
.home-elem__address{
  @extend %text;
  padding: 0px 0px 20px 0px;
  font-size: 17px;
  opacity: 0.6;
}
.home-elem__order{
  @extend %table__order;
  position: relative;
  //@extend %border;
}

  li:after{
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    width: 80%;
    background-color: #ffd342;
  }
  li:last-child:after{
    display: none;
  }


.home-elem__order-price{
  @extend %text;
  @extend %centering;
}

.elem-container{
  padding: 10px 20px;
}

.home-elem__img{
  height: 100%;

  img{
    border-radius: 10px;
  }
}
.home-elem__description{
  @extend %elem__description;
}
.home-elem__order-name{
  @extend %text;
  @extend %centering;
}

.home-elem__total-order{
  @extend %total-order;
  margin-bottom: 20px;
}
.home-elem__total-order-title{

}
.home-elem__total-order-price{
  @extend %total-order-price;
}



.home-elem__check{
  @extend %text;
  padding: 0px 0px 20px 0px;
  font-size: 17px;
  text-transform: none;
  opacity: 0.6;
}

.home-elem__bottom{
  display: flex;
  justify-content: flex-end;
}

//////////////////////////////