$main-yellow: #ffd342;
//header
//TODO: сделать вложенность классов
.header{
  width: 100%;
  background: $main-yellow;

}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 4px 3px -3px gray;
}

.sticky + * {
  padding-top: 80px;
}
.header-container{
padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header__icon {
  display: grid;
  width: auto;
  object-fit: scale-down;
  align-items: center;
}
.icon{

}

.header__menu{
  width: 50%;
display: flex;
  align-items: center;
}

.currency-content{
  position: absolute;
  z-index: 200;
  right: 0;
  top: 70px;
  visibility: hidden;
  height: 80px;
  width: 100px;
  background: white;
  border-radius: 10px;
  border: 2px solid $main-yellow;
  font-size: 20px;
}
.header-currency:focus>div{
  visibility: visible;
}
.header-currency{
  font-family: Constantia;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.currency-content:hover{
  cursor: pointer;
  visibility: visible;
  color: black;
}
.currency-container{
  color: black;
  padding: 10px;
}
.input-currency{
  cursor: pointer;
}

.header__menu-items{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;

  >*{
    margin-left: 20px;
  }
  a,span{
    transition: 0.2s;
  }
  a:hover, span:hover{
    color: white;
  }
}