$main-yellow: #ffd342;
//header
//TODO: сделать вложенность классов
.header{
  width: 100%;
  background: $main-yellow;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 4px 3px -3px gray;
}

.sticky + * {
  padding-top: 80px;
}
.header-container{
padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header__icon {
  display: grid;
  width: auto;
  object-fit: scale-down;
  align-items: center;
}
.icon{

}

.header__menu{
  width: 50%;
display: flex;
  align-items: center;
}

.header__menu-items{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  >*{
    margin-left: 20px;
  }
  a{
    transition: 0.2s;
  }
  a:hover{
    color: white;
  }
}