.home-elem__order-name, .home-elem__order-price, .menu-elem__button, .menu-elem__price, .menu-elem__name, .cart__item__component, .cart-elem__order-size, .cart-elem__order-name, .amount-order, .home-page-title, .menu-page-title, .cart-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-elem__check, .home-elem__order-name, .home-elem__order-price, .home-elem__address, .home-elem__date, .menu-elem__price, .menu-elem__name, .cart-elem__order-size, .cart-elem__order-name, .amount-order, .button, .home-elem__total-order, .cart-elem__total-order, .home-page-title, .menu-page-title, .cart-page-title {
  font-family: Constantia;
  font-size: 25px;
  text-transform: uppercase;
}

.home-page-title, .menu-page-title, .cart-page-title {
  height: 70px;
  font-size: 35px;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
}

.home-table, .cart-table {
  display: grid;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.home-elem__order, .cart-elem__order {
  display: grid;
  padding: 15px 5px 15px 5px;
}

.home-elem__order, .cart-elem__order {
  border: 1px solid #ffd342;
  border-radius: 25px;
  margin-bottom: 20px;
}

.home-elem__description, .cart-elem__description {
  overflow: hidden;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.home-elem__total-order, .cart-elem__total-order {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0px 0px 30px 0px;
  font-weight: bold;
}

.home-elem__total-order-price, .cart-elem__total-order-price {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.img {
  height: 100%;
  width: 100%;
}

.main-part {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
}

.button {
  font-size: 20px;
  background-color: #ffd342;
  border: 2px solid #ffd342;
  cursor: pointer;
  padding: 5px;
  transition-duration: 0.4s;
}

.button:active {
  border: none;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.1);
}

.button_oval {
  border-radius: 20px;
}

.button_circle {
  border-radius: 100%;
}

.amount-order {
  text-transform: none;
}

.amount-order__elem {
  padding: 0 10px 0 10px;
}

.hidden {
  display: none;
}

.elem-z {
  position: relative;
}

.elem-z1 {
  position: absolute;
  z-index: 1;
}

.elem-z2 {
  position: absolute;
  z-index: 2;
}

.header {
  width: auto;
  height: 70px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffd342;
}

.header__icon {
  display: grid;
  width: auto;
  object-fit: scale-down;
  align-items: center;
}

.icon {
  padding-left: 20px;
  padding-right: 20px;
}

.header__menu {
  width: auto;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

.header__menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  font-size: 22px;
}

.delivery, .special-offer, .promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
}

.delivery__image, .special-offer__image, .promo__image {
  display: flex;
  justify-content: center;
}

.delivery__text .service-time, .delivery__text .service-name, .special-offer__text, .promo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo__text {
  align-items: start;
}

.promo__text .time {
  font-size: 40pt;
  color: #ffd342;
}
.promo__text .percent {
  font-size: 67pt;
  color: black;
}
.promo__text .condition {
  font-size: 40pt;
  color: black;
}

.special-offer {
  background: #ffd342;
}

.special-offer__text {
  align-items: center;
}
.special-offer__text .percent {
  font-size: 100px;
}
.special-offer__text .type {
  font-size: 50px;
}

.delivery__text {
  display: grid;
  color: #ffd342;
}
.delivery__text .service-name {
  justify-content: start;
  font-size: 90px;
}
.delivery__text .service-time {
  font-size: 60px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.footer__link {
  display: grid;
}

.page-bottom {
  background-color: #ffd342;
  padding: 25px;
}

.bottom {
  margin-top: auto;
}

.section-header-name {
  color: black;
  font-size: 40px;
}

.cart__total, .cart__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  padding-top: 30px;
}

.total-sum, .cart__header__component {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-page-title {
  width: 1000px;
}

.cart-elem__order {
  grid-template-columns: 150px repeat(4, auto);
}

.cart-elem__order-size {
  text-transform: none;
}

.cart-elem__total-order-currency {
  width: 20px;
}

.select-currency {
  position: relative;
  width: 150px;
}

.select-currency select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: #ffd342;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #ffd342;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.page-cart {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.cart {
  grid-column-start: 2;
  grid-column-end: 3;
}

.total-sum {
  font-size: 30px;
}

/*.cart-table__order:hover{
  //box-shadow: 2px 2px 2px #d7b132 ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
.cart__item__component {
  flex-direction: column;
}

.currency-sign {
  margin-left: 10px;
  padding: 0 3px 0 3px;
  border: 2px solid #ffd342;
  border-radius: 25px;
  cursor: pointer;
}

.get-delivery-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.menu-page-title {
  width: 1020px;
}

.menu-table {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.menu-table-elem {
  height: 350px;
  width: 300px;
  padding: 10px 20px 10px 20px;
  display: grid;
  grid-template-rows: 233.3333333333px 58.3333333333px 58.3333333333px;
}

.menu-elem__description {
  overflow: hidden;
  border-radius: 10px;
}

.menu-elem__ingredients {
  padding: 10px 20px 10px 20px;
  bottom: 0;
  text-align: center;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.5);
}

.menu-table-elem:hover .menu-elem__ingredients {
  visibility: visible;
}

.menu-elem__footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border-bottom: 2px solid #e6e6e6;
}

.menu-elem__price {
  font-weight: bold;
}

.home-page-title {
  width: 1000px;
}

.home-table__elem {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  padding: 15px 5px 15px 5px;
}

.home-elem__date {
  padding: 0px 0px 5px 0px;
}

.home-elem__address {
  padding: 0px 0px 20px 0px;
  font-size: 17px;
  opacity: 0.6;
}

.home-elem__order {
  grid-template-columns: 150px repeat(3, auto);
}

.home-elem__check {
  padding: 0px 0px 20px 0px;
  font-size: 17px;
  text-transform: none;
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
